<mat-tab-group class="tab-group">
  <mat-tab label="Tab 1">
    <ng-template mat-tab-label>
      <i class="fa fa-heartbeat" aria-hidden="true"></i>
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 2">
    <ng-template mat-tab-label>
      <i class="fa fa-backward" aria-hidden="true"></i>
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 3">
    <ng-template mat-tab-label>
      <i class="fa fa-download" aria-hidden="true"></i>
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 4">
    <ng-template mat-tab-label>
      <i class="fa fa-cogs" aria-hidden="true"></i>
    </ng-template>
  </mat-tab>

</mat-tab-group>

<h3>Import local data</h3>
<div class="button-row">
  <button mat-raised-button color="primary" (click)="openDialog()">Import</button>
</div>

<p>endDate: {{endDate}}</p>
<p>startDate: {{startDate}}</p>
<p>platform: {{platformSelected}}</p>
<p>pair: {{pairSelected}}</p>

<chart type="StockChart" [options]="options"></chart>

<div *ngIf="tableIsAvalaible">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header> N°</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{indexOf(row)}}</mat-cell>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="platform">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Platform</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.platform}}</mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="pair">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pair</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.pair}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> StartDate</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.startDate}}</mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> EndDate</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.endDate}}</mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="numberCandles">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NumberCandles</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.chart.length}}</mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="isAllImported">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Is All Imported</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.isAllImported}}</mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="importDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date Import</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.updated_date}}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

<router-outlet></router-outlet>
